button {
  background-color: white;
  font-size: 1.2rem;
  font-family: inherit;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #6aaa64;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:active {
  transform: scale(0.98);
  opacity: 0.8;
}
